In [1]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [2]:
import statsmodels.api as sm
import pandas as pd
from statsmodels.formula.api import ols

In [3]:
a_classified = pd.read_excel('../input/quotient_deviation_df_A_CLASSIFIED.xlsx')

## ANOVA

In [23]:
names = []
sum_sq = []
mean_sq = []
Fs = []
PRs = []
for j in range(15):
    lm = ols(f'D{j+1} ~ Class_4',data=a_classified.rename({'Class 4':'Class_4'}, axis=1)).fit()
    table = sm.stats.anova_lm(lm)
    names += [f"D{j+1}"]
    sum_sq += [table['sum_sq']['Class_4']]
    mean_sq += [table['mean_sq']['Class_4']]
    Fs += [table['F']['Class_4']]
    PRs += [table['PR(>F)']['Class_4']]

for j in range(15):
    lm = ols(f'CWT{j+1} ~ Class_4',data=a_classified.rename({'Class 4':'Class_4'}, axis=1)).fit()
    table = sm.stats.anova_lm(lm)
    names += [f"CWT{j+1}"]
    sum_sq += [table['sum_sq']['Class_4']]
    mean_sq += [table['mean_sq']['Class_4']]
    Fs += [table['F']['Class_4']]
    PRs += [table['PR(>F)']['Class_4']]

trach_anova = pd.DataFrame({
    'Feature': names,
    'sum_sq': sum_sq,
    'mean_sq': mean_sq,
    'F':Fs,
    'PR(>F)':PRs
})

In [25]:
trach_anova

   Feature    sum_sq   mean_sq           F        PR(>F)
0       D1  1.603860  1.603860  249.928035  4.629524e-37
1       D2  1.833837  1.833837  314.054995  7.220491e-43
2       D3  1.910133  1.910133  344.113012  2.416706e-45
3       D4  2.171801  2.171801  410.061271  2.522064e-50
4       D5  2.401825  2.401825  439.071456  2.395923e-52
5       D6  2.796036  2.796036  496.526304  4.293045e-56
6       D7  3.383801  3.383801  572.352169  1.369849e-60
7       D8  3.949869  3.949869  581.345766  4.295595e-61
8       D9  4.441544  4.441544  526.538108  6.268207e-58
9      D10  4.357845  4.357845  414.310005  1.257831e-50
10     D11  3.576171  3.576171  282.948958  3.787462e-40
11     D12  2.410102  2.410102  208.073532  8.399569e-33
12     D13  1.726007  1.726007  174.256042  5.018297e-29
13     D14  1.631368  1.631368  146.829547  1.061801e-25
14     D15  0.348757  0.348757   57.782072  1.112220e-12
15    CWT1  0.076667  0.076667   36.370460  7.760111e-09
16    CWT2  0.068020  0.068020   32.217120  4.796271e-08
17    CWT3  0.049132  0.049132   21.622510  6.023221e-06
18    CWT4  0.032380  0.032380   12.755760  4.445968e-04
19    CWT5  0.027698  0.027698    9.819201  1.986541e-03
20    CWT6  0.008502  0.008502    2.559338  1.112229e-01
21    CWT7  0.000008  0.000008    0.001878  9.654816e-01
22    CWT8  0.002509  0.002509    0.380409  5.380856e-01
23    CWT9  0.000060  0.000060    0.005957  9.385540e-01
24   CWT10  0.041155  0.041155    2.911728  8.948979e-02
25   CWT11  0.253839  0.253839   13.539504  3.003255e-04
26   CWT12  0.813342  0.813342   40.746727  1.184659e-09
27   CWT13  1.467052  1.467052   78.735718  4.016324e-16
28   CWT14  1.724664  1.724664  111.358710  5.588154e-21
29   CWT15  0.971944  0.971944  139.246785  9.831899e-25

In [ ]:
trach_anova.to_excel('../output/tracheides_ANOVA.xlsx', index=False)

## Kruskalâ€“Wallis test

In [19]:
from scipy.stats import mstats

def get_class_values(df, cl, col):
    return list(df[df['Class 4']==cl][col])

d_col = []
d_stats = []
d_pvalue = []

df_diam = a_classified.iloc[:,list(range(0,16))+[33]]
for column in df_diam.columns:

    if column == 'Year' or column == 'Class 4':
        continue
    s, p = mstats.kruskalwallis(get_class_values(df_diam, 1, column),
                                get_class_values(df_diam, 2, column),
                                get_class_values(df_diam, 3, column),
                                get_class_values(df_diam, 4, column))
    d_col += [column]
    d_stats += [s]
    d_pvalue += [p]
d_df = pd.DataFrame({
    'Feature': d_col,
    'Statistic': d_stats,
    'P-value': d_pvalue
})
cwt_col = []
cwt_stats = []
cwt_pvalue = []

df_cwt=a_classified.iloc[:,[0, 33] + list(range(16,31))]
for column in df_cwt.columns:

    if column == 'Year' or column == 'Class 4':
        continue
    s, p = mstats.kruskalwallis(get_class_values(df_cwt, 1, column),
                                get_class_values(df_cwt, 2, column),
                                get_class_values(df_cwt, 3, column),
                                get_class_values(df_cwt, 4, column))
    cwt_col += [column]
    cwt_stats += [s]
    cwt_pvalue += [p]

cwt_df = pd.DataFrame({
    'Feature': cwt_col,
    'Statistic': cwt_stats,
    'P-value': cwt_pvalue
})

In [29]:
d_df

   Feature   Statistic       P-value
0       D1   74.855297  3.891526e-16
1       D2   81.401479  1.535995e-17
2       D3   83.840611  4.602570e-18
3       D4   96.176684  1.031384e-20
4       D5  101.506310  7.372053e-22
5       D6  111.120138  6.298860e-24
6       D7  120.524413  5.949678e-26
7       D8  120.363253  6.444704e-26
8       D9  116.407641  4.581594e-25
9      D10  112.372778  3.385684e-24
10     D11   99.301060  2.196722e-21
11     D12   87.544368  7.377592e-19
12     D13   79.274647  4.391518e-17
13     D14   75.820908  2.416308e-16
14     D15   36.908829  4.810350e-08

In [30]:
cwt_df

   Feature  Statistic       P-value
0     CWT1  25.216458  1.391221e-05
1     CWT2  19.495830  2.158818e-04
2     CWT3  15.294168  1.581761e-03
3     CWT4  14.427983  2.376861e-03
4     CWT5  20.102615  1.616300e-04
5     CWT6  27.727381  4.143453e-06
6     CWT7  38.007346  2.816372e-08
7     CWT8  45.673314  6.655055e-10
8     CWT9  60.733989  4.096564e-13
9    CWT10  75.164893  3.340145e-16
10   CWT11  88.710797  4.144182e-19
11   CWT12  95.292792  1.597317e-20
12   CWT13  94.926072  1.915151e-20
13   CWT14  90.081631  2.103894e-19
14   CWT15  74.962883  3.690301e-16

In [27]:
d_df.to_excel('../output/tracheides_kruskalwallis_diam.xlsx', index=False)
cwt_df.to_excel('../output/tracheides_kruskalwallis_cwt.xlsx', index=False)